<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.android.inventoryapp">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/products_activity_label"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ProductsActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".IncludeEditActivity"
            android:label="@string/include_edit_activity_label">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ProductsActivity" />
        </activity>
        <activity
            android:name=".ProductDetailActivity"
            android:label="@string/products_detail_activity_label">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ProductsActivity" />
        </activity>
    </application>

</manifest>